body {
    height: 100%;
    font-family: Arsenal SC;
    overflow: hidden;
  }
  
#bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }

#logo {
  width: 800px;
}

  .direct {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .direct a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .direct a:hover {
    color: #918657;
  }

  .direct .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .direct {padding-top: 15px;}
    .direct a {font-size: 18px;}
  }

  .direct .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  padding: 12px; /* start of zoom function */
  transition: transform .2s;
  width: 95px;
  height: 25px;
  color: white;
  margin: 1 auto;
  top: 20px;
  left: 10px;
  position: fixed;
}

#main:hover {
  transform: scale(1.2);
  color: #918657;
}

@media screen and (max-height: 450px) {
  .direct {padding-top: 15px;}
  .direct a {font-size: 18px;}
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-family: Arsenal SC;
}

.btn:hover {
  background: #8e958d;
}

.enter {
  color: rgb(255, 255, 255);
  backdrop-filter: blur(8px);
  transition: transform .2s;
  font-size: 25px;
  margin-top: 100px;
  width: 160px;
  border: 3px solid rgb(255, 255, 255);
}

.enter:hover {
  transform: scale(1.05);
}

.creds {
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  top: 600px;
  left: 715px;
}
/* NO TOUCH TOP - Now Shards */
.shrd1 {
  opacity: 0;
  width: 230px;
  height: 600px;
  transition: transform .2s;
  position: fixed;
  top: 600px;
  left: 335px;
}

.shrd1:hover {
  transform: translate(10px);
}

.shrd2 {
  opacity: 0;
  width: 230px;
  height: 600px;
  transition: transform .2s;
  position: fixed;
  top: 600px;
  left: 650px;
}

.shrd2:hover {
  transform: translate(10px);
}

.shrd3 {
  opacity: 0;
  width: 230px;
  height: 600px;
  transition: transform .2s;
  position: fixed;
  top: 600px;
  left: 965px;
}

.shrd3:hover {
  transform: translate(10px);
}

.maple {
position: fixed;
top: 10000px;
left: 0px;
width: 1920px;
height: 1080px;
opacity: 0;
}